*{
    margin: 0;
    padding: 0;

}

.container{
    width: 100%;
    height: 740px;  
    background-color: rgb(157, 199, 245);
}

.loader{

    width: 70%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

}

.item{
    border-radius: 50%;
    background-color: rgb(15, 111, 214);
    background-size: 100px;
    width:50px;
    height: 50px;
    margin: 3px;
    position: relative;
    box-shadow: 0px 5px 10px rgb(9, 106, 218);
    animation: up 1s ease  infinite alternate ;
}

@keyframes up{
    0%{
        top: 0px;
    }

    100%{
        top: -40px;
    }
}

#c1{
    animation-delay: 0s;
}

#c2{
    animation-delay: 1s;
}

#c3{
    animation-delay: 2s;
}
#c4{
    animation-delay: 3s;
}
#c5{
    animation-delay: 4s;
}